---
layout: default
title: Musical Games
categories:
- musical_games
keywords:
- piano
- tutor
- Birmingham UK
- games
- fun
- learn with play
- keyboard
- South Birmingham
- accompanist
description: "A list of recommend musical and piano related flash games to get you started. All games require Flash player version 8 upwards."
---

<div class='full game_row clearfix'>
{% for post in site.categories.games %}
  <div class='game g{{ forloop.index0 }}'>
    <h3><a href='{{ post.swf }}'>{{ post.title }}</a></h3>
    {{ post.content }}
    <p><a href='{{ post.swf }}' title='open in new window' target="_new">Play at full size!</a></p>
  </div>
  
  {% if forloop.index0 == 2 || forloop.index0 == 5 || forloop.index0 == 8 %}</div><div class='full game_row clearfix'>{% endif %}
{% endfor %}
</div>

<p class='small'>All games require Flash player version 8 upwards</p>
